<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{common/shoulder_fragment::head(title = 'SNSサイト - プロフィール')}"></div>

<body>

	<!-- ======= Header ======= -->
	<div th:replace="~{common/shoulder_fragment::header}"></div>

	<!-- ======= Sidebar ======= -->
	<div th:replace="~{common/shoulder_fragment::sidebar}"></div>

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>プロフィール</h1>
		</div><!-- End Page Title -->

		<section class="section dashboard">
			<div class="row">
				<div class="col-xl-8">
					<div class="row">

						<div class="col-lg-12">
							<!-- Card with an image on top -->
							<div th:each="posts : ${posts}">
								<div class="card">
									<div class="d-flex align-items-center bg-success bg-opacity-10 p-2 ">
										<img th:src="@{'/assets/img/' + ${posts.users.iconUri}}" alt="Profile"
											class="rounded-circle"
											style="width: 40px; height: 40px; object-fit: cover;">
										<h6 th:text="${posts.users.name}" class="ms-2 mb-0">ユーザー名</h6>
									</div>

									<div th:each="postImages : ${posts.postImagesList}">
										<img th:if="${postImages.imageUri != null}"
											th:src="@{'/assets/img/' + ${postImages.imageUri}}" class="card-img-top"
											alt="...">
									</div>

									<div class="card-body">
										<h5 class="card-title" th:text="${posts.title}"></h5>
										<p class="card-text" th:text="${posts.body}"></p>
										<div class="card-body">
											<!--コメント送信欄-->
											<form class="row g-3 needs-validation" novalidate
												th:action="@{/profile/comment}" method="post">
												<div class="col-md-12">
													<div class="input-group has-validation">
														<input type="hidden" name="postId" th:value="${posts.id}" />
														<input name="comment" type="text" class="form-control"
															placeholder="コメントを入力..." th:value="${comment}" required>
														<div class="invalid-feedback">コメントを入力してください。</div>
													</div>
												</div>
												<div class="text-center">
													<button type="submit" class="btn btn-primary">コメントする</button>
												</div>
											</form>
											<!--コメント送信欄終了-->
										</div>

										<!--コメント欄-->
										<div class="card-body">
											<div class="news">
												<div class="post-item clearfix">
													<div th:each="postComments : ${posts.postCommentsList}">

														<div class="d-flex align-items-center mb-2">
															<div th:if="${postComments.comment != null}">
																<img th:src="@{'/assets/img/' + ${postComments.users.iconUri}}"
																	class="rounded-circle"
																	style="width: 50px; height: 50px; object-fit: cover;">
																<h4>
																	<a th:href="@{/profile/{loginId}(loginId=${postComments.users.loginId})}"
																		th:text="${postComments.users.name}"
																		class="ms-2 mb-0">ユーザー名</a>
																</h4>
																<p th:text="${postComments.comment}">コメント内容</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!--コメント欄-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-4">
					<div class="card">
						<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

							<img th:src="@{'/assets/img/' + ${users.iconUri}}" alt="Profile" class="rounded-circle">
							<h2 th:text="${users.name}">ユーザー名</h2>

							<div class="social-links mt-2" th:if="${loginUser.loginId != users.loginId}">


								<div th:if="${friendStatus == null}">
									<form th:action="@{/profile/apply}" method="post">
										<input type="hidden" name="friendId" th:value="${users.id}" />
										<button type="submit" class="btn btn-primary rounded-pill">友達申請</button>
									</form>
								</div>

								<div th:if="${friendStatus == 0}">
									<button class="btn btn-secondary rounded-pill" disabled>申請中</button>
								</div>

								<div th:if="${friendStatus == 1}">
									<button class="btn btn-success rounded-pill" disabled>フレンド</button>
								</div>

								<div th:if="${friendStatus == 9}">
									<button class="btn btn-warning rounded-pill" disabled>申請不可</button>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body pt-3">
							<!-- Bordered Tabs -->
							<ul class="nav nav-tabs nav-tabs-bordered">

								<li class="nav-item">
									<button class="nav-link active" data-bs-toggle="tab"
										data-bs-target="#profile-overview">基本データ</button>
								</li>

								<li class="nav-item" th:if="${loginUser.loginId == users.loginId}">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#profile-edit">プロフィール編集</button>
								</li>

								<li class="nav-item" th:if="${loginUser.loginId == users.loginId}">
									<button class="nav-link" data-bs-toggle="tab"
										data-bs-target="#profile-change-password">パスワード変更</button>
								</li>

							</ul>
							<div class="tab-content pt-2">

								<div class="tab-pane fade show active profile-overview" id="profile-overview">
									<h5 class="card-title">自己紹介</h5>
									<p class="small fst-italic" th:text="${users.profile}">
										自己紹介
									</p>

									<h5 class="card-title">プロフィール</h5>

									<div class="row">
										<div class="col-lg-3 col-md-4 label ">名前</div>
										<div class="col-lg-9 col-md-8">
											<h6 th:text="${users.name}">ユーザー名</h6>
										</div>

									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Mail</div>
										<div class="col-lg-9 col-md-8">
											<h6 th:text="${users.emailAddress}">メール</h6>
										</div>

									</div>

								</div>

								<div class="tab-pane fade profile-edit pt-3" id="profile-edit">

									<!-- Profile Edit Form -->
									<form novalidate th:action="@{/profile/index}" th:object="${users}" method="post">
										<input type="hidden" name="loginId" th:value="${users.loginId}" />
										<input type="hidden" name="password" th:value="${users.password}" />

										<div class="row mb-3">
											<label for="profileImage"
												class="col-md-4 col-lg-4 col-form-label">プロフィール画像</label>
											<div class="col-md-8 col-lg-8">
												<img th:src="@{'/assets/img/' + ${users.iconUri}}" alt="Profile">
												<div class="pt-2">
													<label>
														<i class="bi bi-upload btn btn-primary btn-sm"></i>
														<input type="file" name="iconUri" id="filesend"
															style="display: none;" required>
														<input type="hidden" name="profileFileHidden"
															id="filesendHidden" th:value="${users.iconUri}">
													</label>
													<a href="#" class="btn btn-danger btn-sm"
														title="Remove my profile image" onclick="resetPreview();">
														<i class="bi bi-trash"></i></a>
												</div>
											</div>
										</div>

										<div class="row mb-3">

											<label for="fullName" class="col-md-4 col-lg-4 col-form-label">名前</label>
											<div class="col-md-8 col-lg-8">
												<input name="fullName" type="text" class="form-control" id="yourName"
													th:field="${users.name}">
											</div>
										</div>

										<div class="row mb-3">
											<label for="about" class="col-md-4 col-lg-4 col-form-label">自己紹介</label>
											<div class="col-md-8 col-lg-8">
												<textarea name="profile" class="form-control" id="profile"
													style="height: 100px" th:field="${users.profile}">

												</textarea>
											</div>
										</div>

										<div class="row mb-3">
											<label for="Email" class="col-md-4 col-lg-4 col-form-label">メールアドレス</label>
											<div class="col-md-8 col-lg-8">
												<input name="emailAddress" type="email" class="form-control"
													id="EmailAddress" th:field="${users.emailAddress}">
											</div>
										</div>

										<div class="text-center">
											<button type="submit" class="btn btn-primary">プロフィールを保存</button>
										</div>
									</form><!-- End Profile Edit Form -->

								</div>

								<div class="tab-pane fade pt-3" id="profile-change-password">


									<!-- Change Password Form -->
									<form novalidate th:action="@{/profile/change-password}"
										th:object="${requestModifyPassword}" method="post">
										<input type="hidden" name="loginId" th:value="${users.loginId}" />
										<input type="hidden" name="name" th:value="${users.name}" />
										<input type="hidden" name="EmailAddress" th:value="${users.EmailAddress}" />
										<input type="hidden" name="profile" th:value="${users.profile}" />
										<input type="hidden" name="iconUri" th:value="${users.iconUri}" />
										<div class="row mb-3">
											<label for="currentPassword"
												class="col-md-4 col-lg-4 col-form-label">現在のパスワード</label>
											<div class="col-md-8 col-lg-8">
												<input name="currentPassword" type="password" class="form-control"
													id="currentPassword">
												<div class="invalid-feedback">コメントを入力してください。</div>

											</div>
										</div>

										<div class="row mb-3">
											<label for="newPassword"
												class="col-md-4 col-lg-4 col-form-label">新しいパスワード</label>
											<div class="col-md-8 col-lg-8">
												<input name="newPassword" type="password" class="form-control"
													id="newPassword">
											</div>
										</div>

										<div class="row mb-3">
											<label for="renewPassword"
												class="col-md-4 col-lg-4 col-form-label">新しいパスワードを再入力</label>
											<div class="col-md-8 col-lg-8">
												<input name="renewPassword" type="password" class="form-control"
													id="renewPassword">
											</div>
										</div>

										<div class="text-center">
											<button type="submit" class="btn btn-primary">パスワードを変更</button>
										</div>
									</form><!-- End Change Password Form -->
								</div>
							</div><!-- End Bordered Tabs -->
						</div>
					</div>
				</div>
			</div>
		</section>
	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<div th:replace="~{common/shoulder_fragment::footer}"></div>
</body>

</html>