<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{common/shoulder_fragment::head(title = 'SNSサイト - フレンド')}"></div>

<body>
	<!-- ======= Header ======= -->
	<div th:replace="~{common/shoulder_fragment::header}"></div>

	<!-- ======= Sidebar ======= -->
	<div th:replace="~{common/shoulder_fragment::sidebar}"></div>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>フレンド</h1>
		</div><!-- End Page Title -->

		<section class="section dashboard">
			<div class="row">
				<div class="col-lg-12">
					<!-- News & Updates Traffic -->
					<div class="card">
						<div class="card-body">
							<!-- Table with stripped rows -->
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col"></th>
										<th scope="col">名前</th>
										<th scope="col">プロフィール</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="users : ${usersList}" th:if="${loginUser.loginId != users.loginId}">
										<th scope="row"> <img th:src="@{'/assets/img/' + ${users.iconUri}}" alt="アイコン"
												class="rounded-circle" width="80" height="80">
										</th>
										<td style="width: 10%;">
											<a th:href="@{/profile/{loginId}(loginId=${users.loginId})}"
												th:text="${users.name}"
												class="fw-bold text-blue text-decoration-none"></a>
										</td>
										<td th:text="${users.profile}" style="width: 63%;">
										</td>

										<td style="width: 18%;">
											<div th:switch="${friendStatusMap[users.id]}">

												<div th:case="1">
													<form th:action="@{/friend/delete}" method="post"
														style="display:inline;">
														<input type="hidden" name="friendId" th:value="${users.id}">
														<button type="submit"
															class="btn btn-success rounded-pill">フレンド解除</button>
													</form>
												</div>

												<div th:case="0">
													<div th:if="${friendDirectionMap[users.id]} == 'received'">
														<form th:action="@{/friend/approval}" method="post"
															style="display:inline;">
															<input type="hidden" name="friendId" th:value="${users.id}">
															<button type="submit"
																class="btn btn-primary rounded-pill">承認</button>
														</form>
														<form th:action="@{/friend/rejected}" method="post"
															style="display:inline;">
															<input type="hidden" name="friendId" th:value="${users.id}">
															<button type="submit"
																class="btn btn-danger rounded-pill">却下</button>
														</form>
													</div>
													<div th:if="${friendDirectionMap[users.id]} == 'sent'">
														<form th:action="@{/friend/delete}" method="post"
															style="display:inline;">
															<input type="hidden" name="friendId" th:value="${users.id}">
															<button type="submit"
																class="btn btn-secondary rounded-pill">申請をやめる</button>
														</form>
													</div>
												</div>

												<div th:case="9">
													<div th:if="${friendDirectionMap[users.id]} == 'received'">
														<form th:action="@{/friend/cancel}" method="post"
															style="display:inline;">
															<input type="hidden" name="friendId" th:value="${users.id}">
															<button type="submit"
																class="btn btn-warning rounded-pill">ブロック解除</button>
														</form>
													</div>
													<div th:if="${friendDirectionMap[users.id]} == 'sent'">
														<button class="btn btn-secondary rounded-pill"
															disabled>却下されました</button>
													</div>
												</div>

												<div th:case="10">
													<div th:if="${friendDirectionMap[users.id]} == 'sent'">

														<form th:action="@{/friend/cancel}" method="post"
															style="display:inline;">
															<input type="hidden" name="friendId" th:value="${users.id}">
															<button type="submit"
																class="btn btn-warning rounded-pill">ブロック解除</button>
														</form>
													</div>
													<div th:if="${friendDirectionMap[users.id]} == 'received'">
														<button class="btn btn-secondary rounded-pill"
															disabled>却下されました</button>
													</div>
												</div>

												<div th:case="*">
													<a th:href="@{/profile/{loginId}(loginId=${users.loginId})}"
														class="btn btn-info rounded-pill">プロフィールを見る</a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- End Table with stripped rows -->
						</div>
					</div>
				</div><!-- End Right side columns -->
			</div>
		</section>
	</main><!-- End #main -->
	<!-- ======= Footer ======= -->
	<div th:replace="~{common/shoulder_fragment::footer}"></div>
</body>

</html>